<td>{{ medicine.name }}</td>
<td>{{ medicine.category }}</td>
<td>{{ medicine.price | currency }}</td>
<td ng-class="{'text-danger': isLowStock, 'text-success': !isLowStock}">
  {{ medicine.stock_quantity }} ({{ stockStatus() }})
</td>
<td>{{ medicine.expiry_date | date:'yyyy-MM-dd' }}</td>
<td class="text-end">
  <button
    class="btn btn-sm btn-outline-primary me-1"
    type="button"
    ng-click="editMedicine()"
  >
    Edit
  </button>
  <button
    class="btn btn-sm btn-outline-danger"
    type="button"
    ng-if="isAdmin"
    ng-click="deleteMedicine()"
  >
    Delete
  </button>
</td>
